<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzu.staff.management.mapper.StaffMapper">
    <select id="queryAll" resultType="com.zzu.staff.management.entity.Staff">
        select * from staff
    </select>

    <select id="queryAllVo" resultType="com.zzu.staff.management.entity.StaffVo">
        select a2.id,a2.name,tel,undergraduate_school,uschoolname,uschoolindex,master_school,mschoolname,mschoolindex,doctor_school,dschoolname,dschoolindex,composite_index,status from
        (select staff.id,staff.name,tel,staff.undergraduate_school,school.name as uschoolname,school_type.undergraduate_index as uschoolindex,composite_index,`status`
         from staff,school,school_type
         where staff.undergraduate_school = school.id and school.school_type = school_type.id) as a2 left join
        (select staff.id,school.name as mschoolname,school_type.master_index as mschoolindex,master_school
         from staff,school,school_type
         where staff.master_school = school.id and school.school_type = school_type.id) as a1 on a2.id=a1.id left join
        (select staff.id,school.name as dschoolname,school_type.doctor_index as dschoolindex,doctor_school
         from staff,school,school_type
         where staff.doctor_school = school.id and school.school_type = school_type.id) as a3 on a2.id = a3.id
    </select>

    <select id="queryById" parameterType="java.lang.Long" resultType="com.zzu.staff.management.entity.Staff">
        select * from staff where id = #{id}
    </select>

    <insert id="insert" parameterType="com.zzu.staff.management.entity.Staff">
        insert into staff (name, sex, tel, age, birthday, undergraduate_school, master_school, doctor_school)
        values(#{name},#{sex},#{tel},#{age},#{birthday},#{undergraduateSchool},#{masterSchool},#{doctorSchool})
    </insert>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from staff where id = #{id}
    </delete>

    <update id="update" parameterType="com.zzu.staff.management.entity.Staff">
        update staff set
        <if test="#{name}!=null">
            name = #{name},
        </if>
        <if test="#{tel}!=null">
            tel = #{tel},
        </if>
        <if test="#{age}!=null">
            age = #{age},
        </if>
        <if test="#{birthday}!=null">
            birthday = #{birthday},
        </if>
        <if test="#{undergraduateSchool}!=null">
            undergraduate_school = #{undergraduateSchool},
        </if>
        <if test="#{masterSchool}!=null">
            master_school = #{masterSchool},
        </if>
        <if test="#{doctorSchool}!=null">
            doctor_school = #{doctorSchool}
        </if>
        where id = #{id}
    </update>
</mapper>