<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzu.staff.management.mapper.StaffMapper">
    <select id="queryAll" resultType="com.zzu.staff.management.entity.Staff">
        select * from staff
    </select>

    <select id="queryAllVo" resultType="com.zzu.staff.management.entity.StaffVo">
        select a2.id,a2.name,identity,sex,tel,teacherType,birthday,undergraduate_school,uschoolname,master_school,mschoolname,doctor_school,dschoolname,composite_index,evaluation from
        (select staff.id,staff.name,identity,sex,tel,teacherType,birthday,staff.undergraduate_school,school.name as uschoolname,composite_index,evaluation
         from staff,school,school_type
         where staff.undergraduate_school = school.id and school.school_type = school_type.id) as a2 left join
        (select staff.id,school.name as mschoolname,master_school
         from staff,school,school_type
         where staff.master_school = school.id and school.school_type = school_type.id) as a1 on a2.id=a1.id left join
        (select staff.id,school.name as dschoolname,doctor_school
         from staff,school,school_type
         where staff.doctor_school = school.id and school.school_type = school_type.id) as a3 on a2.id = a3.id
    </select>

    <select id="queryById" parameterType="java.lang.Long" resultType="com.zzu.staff.management.entity.Staff">
        select * from staff where id = #{id}
    </select>

    <insert id="insert" parameterType="com.zzu.staff.management.entity.Staff">
        insert into staff (name, identity, sex, tel, teacherType, birthday, undergraduate_school, master_school, doctor_school, composite_index, evaluation)
        values(#{name},#{identity},#{sex},#{tel},#{teacherType},#{birthday},#{undergraduateSchool},#{masterSchool},#{doctorSchool},#{compositeIndex},#{evaluation})
    </insert>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from staff where id = #{id}
    </delete>

    <update id="update" parameterType="com.zzu.staff.management.entity.Staff">
        update staff set
        <if test="#{name}!=null">
            name = #{name},
        </if>
        <if test="#{tel}!=null">
            tel = #{tel},
        </if>
        <if test="#{age}!=null">
            identity = #{identity},
        </if>
        <if test="#{teacherType}!=null">
            teacherType = #{teacherType},
        </if>
        <if test="#{sex}!=null">
            sex = #{sex},
        </if>
        <if test="#{birthday}!=null">
            birthday = #{birthday},
        </if>
        <if test="#{undergraduateSchool}!=null">
            undergraduate_school = #{undergraduateSchool},
        </if>
        <if test="#{masterSchool}!=null">
            master_school = #{masterSchool},
        </if>
        <if test="#{doctorSchool}!=null">
            doctor_school = #{doctorSchool},
        </if>
        <if test="#{evaluation}!=null">
            evaluation = #{evaluation}
        </if>
        where id = #{id}
    </update>
</mapper>